:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --boder-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-12 {
    margin-right: 12px;
}

.ml-16 {
    margin-left: 16px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-48 {
    margin-bottom: 48px;
}

.pt-36 {
    padding-top: 36px;
}

.pb-36 {
    padding-bottom: 36px;
}

.primary-color {
    color: var(--primary-color);
}

.text-color {
    color: var(--text-color);
}

.bold {
    font-weight: 450 !important;
}

/* | */
.separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 1.4rem;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

/* Selection */
.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 12px 0 8px;
    position: relative;
    top: 1px;
}

.select-input__label {
    font-size: 1.6rem;
}

.select-input__list {
    position: absolute;
    background-color: var(--white-color);
    right: 0;
    top: 80%;
    left: 0;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    box-shadow: 0 0 5px #999;
    z-index: 1;
}

.select-input__item {
    list-style-type: none;
}

.select-input__list-show:hover .select-input__list {
    display: block;
}

.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 14px;
    display: block;
}

.select-input__link:hover {
    background-color: rgba(238, 77, 45, 0.08);
    transform: translateY(-1px);
    color: var(--primary-color);
}

.select-input__link::before {
    position: absolute;
    content: "";
    right: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    display: block;
}

/* Responsive */
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12) * 2);
}

.grid-column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12) * 10);
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 5);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: fadeIn linear 0.2s;
    display: none;
}

.modal.open-login {
    display: flex;
}

.modal.open-register {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

.btn {
    min-width: 140px;
    height: 36px;
    background-color: var(--white-color);
    border: none;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-hover:hover {
    background-color: #ccc;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background-color: #999;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    height: var(--height);
    min-width: 40px;
    text-align: center;
    line-height: var(--height);
    display: block;
    border-radius: 3px;
}

.pagination-item__active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item__active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__icon {
    font-size: 2rem;
}


/* keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}