
/* Header */
.app__header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 6 0 0 0;
    display: flex;
}

.navbar__item {
    margin: 0 8px;
    position: relative;
}

/* Navbar user */
.navbar__user {
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar__user-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.navbar__user-name {
    font-weight: 300;
}

.navbar__user-menu {
    position: absolute;
    padding: 8px 0 0 0;
    top: 200%;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 5px #999;
    border-radius: 3px;
    width: 160px;
    z-index: 1;
    display: none;
}

.navbar__user-menu::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -30px;
}

.navbar__user-menu::after {
    position: absolute;
    content: "";
    right: 0;
    top: -16px;
    width: 80%;
    height: 20px;
    display: block;
}

.navbar__user-menu-show:hover .navbar__user-menu {
    display: block;
}

.navbar__user-menu-item {
    list-style-type: none;
}

.navbar__user-menu-item:hover {
    background-color: rgba(238, 77, 45, 0.08);
}

.navbar__user-menu-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.navbar__user-menu-item a:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.navbar__user-menu-item a:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navbar__item, 
.navbar__link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__item:hover, 
.navbar__link:hover,
.navbar__icon:hover {
    color: #ccc;
    cursor: pointer;
}

.navbar__no-pointer{
    color: var(--white-color);
    cursor: text;
}

.navbar__icon {
    padding: 0 2px;
    font-size: 1.4rem;
    color: var(--white-color);
}

/* Header QR code */
.navbar__qr {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 10px;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    margin-top: 4px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar__qr::before {
    position: absolute;
    content: "";
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    display: block;
}

.navbar__qr-show:hover .navbar__qr {
    display: block;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
}

.navbar__qr-link:nth-child(1) {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-app {
    height: 1.5rem;
}

/* Header notify */
.navbar__notify {
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    width: 405px;
    right: 0;
    margin: 8px 0;
    border: 1px solid #D3D3D3;
    transform-origin: calc(100% - 20px) top;
    animation: navbarNotify ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 2;
}

.navbar__notify::before {
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 5px;
    top: -28px;
}

.navbar__notify::after {
    position: absolute;
    content: "";
    right: 0;
    top: -16px;
    width: 25%;
    height: 20px;
    display: block;
}

@keyframes navbarNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar__notify-show:hover .navbar__notify {
    display: block;
}

.navbar__notify-header {
    height: 40px;
    cursor: default;
    background-color: var(--white-color);
}

.navbar__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}

.navbar__notify-list {
    padding-left: 0;
    
}

.navbar__notify-item {
    display: flex;
    list-style-type: none;
}

.navbar__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.navbar__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.navbar__notify-link:hover {
    background-color: rgba(238, 77, 45, 0.08);
    transform: translateY(-1px);
}

.navbar__notify-img {
    width: 48px;
    object-fit: contain;
}

.navbar__notify-info {
    margin-left: 10px;
}

.navbar__notify-name {
    color: var(--black-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.navbar__notify-desc {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 0.5rem;
}

.navbar__notify-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--white-color);
}

.navbar__notify-btn:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

/* Auth form */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 10px 0 32px;
}

.auth-form__register {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__login {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__info {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin: 0 14px;
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__aside-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__btns {
    margin: 40px 0;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials {
    padding: 16px 36px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-facebook {
    background-color: #3a5a98;
    color: var(--white-color);
    padding: 0 40px;
}

.auth-form__socials-facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    margin: 0 10px;
}

.auth-form__socials-google {
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 0 40px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}

/* Header search */
.search {
    height: var(--header-search-height);
    display: flex;
    align-items: center;
}

.search__logo {
    width: 200px;
}

.search__logo-img {
    width: 80%;
}

/* Search input */
.search__form {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
}

.search__form-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.search__form-input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 3px;
}

.search__form-history {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 20px);
    border-radius: 3px;
    box-shadow: 0 0 5px #999;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.search__form-input:focus ~ .search__form-history {
    display: block;
}

.search__form-heading {
    color: #999;
    margin: 16px 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.search__form-history-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.search__form-history-item {
    height: 38px;
    padding: 8px 12px;
}

.search__form-history-item:hover {
    background-color: #999;
}

.search__form-history-item a {
    color: var(--text-color);
    text-decoration: none;
    line-height: 22px;
    font-size: 1.4rem;
    display: block;
}

.search__form-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
}

.search__form-select:hover {
    cursor: pointer;
}

.search__form-select-option {
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__form-btn {
    min-width: 60px;
    margin: 0 2px;
    border: none;
}

.search__form-btn:hover {
    background-color: #ec593c;
}

/* Cart icon */
.search__cart {
    padding: 0 90px;
    position: relative;
}

.search__cart-show:hover .search__cart-list {
    display: block;
}

.search__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: 83px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 5px #ccc;
    background-color: var(--white-color);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.search__cart-list::before {
    content: "";
    border-width: 20px 30px;
    cursor: pointer;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -27px;
}

.search__cart-icon {
    width: 100%;
    padding: 0 8px;
    font-size: 30px;
    color: var(--white-color);
    cursor: pointer;
}

.search__cart-notice {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    right: 80px;
    top: -13px;
}

/* Cart no item */
.cart__list--no-cart {
    padding: 28px 0;
}

.cart__list--no-cart .cart__list--no-cart-msg,
.cart__list--no-cart .cart__list--no-cart-img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cart__list--no-cart-msg {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 16px;
    display: none;
}

.cart__list--no-cart-img {
    width: 60%;
    display: none;
}

/* Cart has item */
.cart__list-heading {
    text-align: left;
    color: var(--text-color);
    margin: 20px 0 8px 12px;
    font-size: 1.6rem;
    font-weight: 300;
}

.cart__list-items {
    padding-left: 0;
    list-style: none;
    height: 30vh;
    overflow-y: auto;
}

.cart__item {
    display: flex;
}

.cart__item:hover {
    background-color: rgba(238, 77, 45, 0.08);
    transform: translateY(-1px);
}

.cart__item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--boder-color);
}

.cart__item-wrap {
    width: 100%;
    margin-right: 12px;
}

.cart__item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__item-name {
    font-weight: 500;
    flex: 1;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.6rem;
    max-height: 3.2rem;
    margin: 6px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cart__item-price {
    color: var(--primary-color);
    font-size: 1.4rem;
}

.cart__item-multify {
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.2rem;
}

.cart__item-qty {
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.2rem;
}

.cart__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__item-desp {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.cart__item-delete {
    color: var(--text-color);
    font-size: 1.4rem;
}

.cart__item-delete:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.cart__list-btn {
    min-width: 120px;
    float: right;
    margin-right: 12px;
    margin-bottom: 12px;
}

.cart__list-btn:hover {
    background-color: #ec593c;
}

/* Navbar ontions */
.search__form-ontions {
    position: absolute;
    right: 0;
    top: 120%;
    width: 130px;
    list-style: none;
    box-shadow: 0 0 2px #666;
    border-radius: 3px;
    padding: 0;
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.search__form-ontions::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 100%;
    height: 20px;
    display: block;
}

.search__form-ontions-item {
    background-color: var(--white-color);
    padding: 8px;
}

.search__form-ontions-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.search__form-ontions-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search__form-ontions-show:hover .search__form-ontions {
    display: block;
}

.search__form-ontions-label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.search__form-ontions-icon {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.search__form-ontions-item--active
.search__form-ontions-icon {
    display: inline-block;
}

/* App container */
.app__container {
    background-color: #f5f5f5;
}

.category {
    border-radius: 3px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.category__heading-icon {
    font-size: 1.4rem;
    padding-right: 4px;
}

.category-list {
    padding-left: 0;
    list-style-type: none;
    font-size: 1.4rem;
    margin-left: 10px;
}

.caterogy-item--ative .category-item__link {
    color: var(--primary-color);
}

.caterogy-item--ative .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    position: relative;
    transition: right linear 0.1s;
    right: 0;
    display: block;
}

.category-item__link:hover {
    background-color: #f5f5f5;
    color: var(--primary-color);
    right: -3px;
}

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-curren {
    color: var(--primary-color);
}

.home-filter__page-btns {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
    display: flex;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.page-btn--icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn-disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn-disabled .page-btn--icon {
    color: #ccc;
}

/* Product item */
.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item a {
    text-decoration: none;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    /* Dấu ... ở name */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.2rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-curren {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__liked-icon {
    color: red;
    display: none;
}

.home-product-item__like--liked .home-product-item__liked-icon {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__rating-icon {
    color: yellow;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 10px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 400;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite-icon {
    color: var(--white-color);
    font-size: 1rem;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    filter: brightness(60%);
    border-left: 4px solid transparent;
    left: 0;
    bottom: -4px;
}

.home-product-item__sale {
    position: absolute;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    top: 0;
    right: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    border-top-right-radius: 5px;
}

.home-product-item__sale::before {
    content: "";
    position: absolute;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
    bottom: -5.5px;
    left: 0;
}

.home-product-item__sale-percent {
    color: var(--primary-color);
}

.home-product-item__sale-label {
    color: var(--white-color);
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding: 0;
    list-style: none;
}

.footer-list__item-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-list__item-link:hover {
    color: var(--primary-color);
}

.footer-list__item-icon {
    font-size: 1.6rem;
    margin-top: -4px;
    margin-right: 6px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--boder-color);
}

.footer__download-apps {
    margin-left: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img {
    height: 20px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 24px 0;
}

.footer-text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}

